# ==============================
# Virtual Environment
# ==============================
.venv/
venv/

# ==============================
# Python Cache
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Streamlit
# ==============================
.streamlit/

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# Operating System
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Model Files (optional)
# ==============================
*.pkl
*.joblib

# ==============================
# Temporary Files
# ==============================
temp/